body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

#app {
  text-align: center;
  padding: 15px;
}

p {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.card {
  margin-bottom: 15px;
}

.card-header {
  background-image: linear-gradient(
    120deg,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}
